*.log.txt
*.html
*.fa.gz
*.txt
*.csv
Ensembl-*.index
OlderAt*/*
logfiles/
results/
.listing
SetupFirst.pl.save
tutorial_latest.sif
teste.simg
scripts/.ensembl.archive.table
scripts/tutorial_latest.old
scripts/.ucluser
scripts/.container
scripts/.csuser
scripts/.kallistoindex
scripts/RNAseq_Matrix_Generation_Script.R
