ignore/
*.log.txt
*.html
*.fa.gz
*.txt
*.csv
Ensembl-*.index
OlderAt*/*
logfiles/
results/
.listing
SetupFirst.pl.save
tutorial_latest.sif
teste.simg
scripts/.ensembl.archive.table
scripts/tutorial_latest.old
scripts/.ucluser
scripts/.container
scripts/.csuser
scripts/.kallistoindex
scripts/RNAseq_Matrix_Generation_Script.R
.vstags
results.*
scripts/03-Setup_Run_and_Submit.covid20-281.pl
scripts/03-Setup_Run_and_Submit.pgu8_wall20.pl
.debug.qsub

ref/.biomaRt/*
scripts/jarbas.sh
scripts/03-Setup_Run_and_Submit.pgu6.pl
scripts/Makefile
TEMP/*.gz
